.main {
    background: #9f80ac;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* padding-top: 6%; */
}

.atm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.atm_sign_ctn {
    position: relative;
    background-color: #146bae;
    border-radius: 10px;
    padding: 10px 50px;
}


.graffiti {
    position: absolute;
    top: 30%;
    left: 45%;
}

.atm_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f1f0e6;
    width: 370px;
    border-top: #bebebe 5px solid;
    flex-grow: 1;
    position: relative;
}

.img_ctn {
    height: 20px;
    overflow: hidden;
    position: relative;
    margin-top: 10px;
}

.screen_grid {
    display: grid;
    margin-top: 10px;
    width: 95%;
    height: 230px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 5px;
}

.screen_grid button {
    background-color: #c1c1c1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.screen_grid input {
    grid-area: 4 / 3 / span 1 / 5;
}

.balance {
    grid-area: 4 / 3 / span 1 / 5;
    text-align: center;
    color: white;
}

.screen_background {
    grid-area: 1 / 2 / 7 / 6;
    background: #7eb5d5;
    border: #e1e1d6 4px solid;
}

.header {
    grid-area: 1 / 2 / span 2 / 6;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 10px;
}

.left_btn_text {
    color: white;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 5px;
}

.left_btn_text::before {
    content: '—'
}

.right_btn_text {
    color: white;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 5px;
}

.right_btn_text::after {
    content: '—'
}

.cover {
    position: absolute;
    top: 0;
    left: 0;
    height: 105%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.highlighted_card_type {
    flex-grow: 1;
}

.faded_card_type {
    flex-grow: 1;
    background: #f1f0e6;
    opacity: 90%;
}

.systems {
    margin-left: 170px;
    margin-top: 5px;
}

.sticker_graf {
    position: absolute;
    top: 270px;
    left: 10px;
}